<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet">

    <title>InvoiceFlow</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="layout">

    <div class="sidebar">

        <div class="logo">
            InvoiceFlow
        </div>

        <div class="tagline">
            Create, track and manage invoices effortlessly.
        </div>

        <a href="/" class="nav-link">
            Dashboard
        </a>

        <a href="/invoice" class="nav-link">
            Create Invoice
        </a>

        <a href="/invoices" class="nav-link">
            View Invoices
        </a>

    </div>

    <div class="main-content">

        <h1>Dashboard</h1>

        <br>

        <div class="stats">

            <div class="stat-card">
                <h3>Total Invoices</h3>
                <h1>{{ total_invoices }}</h1>
            </div>

            <div class="stat-card">
                <h3>Total Revenue</h3>
                <h1>${{ total_revenue }}</h1>
            </div>

            <div class="stat-card">
                <h3>Customers</h3>
                <h1>{{ total_customers }}</h1>
            </div>

        </div>

        <div class="card">

            <h2>Quick Actions</h2>

            <br>

            <a href="/invoice">
                <button>Create Invoice</button>
            </a>

            <a href="/invoices">
                <button>View Invoices</button>
            </a>

        </div>

    </div>

</div>

</body>

</html>